In [1]:
import pandas as pd

<h2>read_csv с параметрами<h2/>

In [3]:
df = pd.read_csv('../data/feed-views.log',
                skiprows=[2, 3],
                skipfooter=2,
                names=('datatime', 'user'),
                index_col='datatime',
                engine='python',
                sep='\t')
df.head()

                              user
datatime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [4]:
df.tail()

                                 user
datatime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

<h2>Переименовывание столбца</h2>

In [5]:
df.index.names = ['data_time']
df.head()

                              user
data_time
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

<h2>Сохранение в другой файл с разделителем</h2>

In [7]:
df.to_csv('../data/feed-views-semicolon.log',
         sep=';')