In [1]:
import pandas as pd
import sqlite3

<h2>Подключение к базе данных</h2>

In [2]:
conn = sqlite3.connect('../data/checking-logs.sqlite', check_same_thread=False)

<h2>Получите схему таблицы просмотров страниц с помощью pd.io.sql.read_sql и запроса «PRAGMA table_info(pageviews);»</h2>

In [3]:
pd.io.sql.read_sql('PRAGMA table_info(pageviews)', conn)

   cid      name       type  notnull dflt_value  pk
0    0     index    INTEGER        0       None   0
1    1       uid       TEXT        0       None   0
2    2  datetime  TIMESTAMP        0       None   0

<h2>Чтобы посмотреть, как выглядит таблица, получите только первые 10 строк</h2>

In [4]:
pd.io.sql.read_sql('select * from pageviews limit 10', conn)

   index      uid                    datetime
0      0  admin_1  2020-04-17 12:01:08.463179
1      1  admin_1  2020-04-17 12:01:23.743946
2      2  admin_3  2020-04-17 12:17:39.287778
3      3  admin_3  2020-04-17 12:17:40.001768
4      4  admin_1  2020-04-17 12:27:30.646665
5      5  admin_1  2020-04-17 12:35:44.884757
6      6  admin_1  2020-04-17 12:35:52.735016
7      7  admin_3  2020-04-17 12:36:21.401412
8      8  admin_3  2020-04-17 12:36:22.023355
9      9  admin_1  2020-04-17 13:55:19.129243

<h2>получите подтаблицу, используя только один запрос, где:</h2>

- используются только uid и datetime
- используются только данные пользователя (user_ *), а не данные администратора
- он отсортирован по uid в порядке возрастания
- столбец индекса - datetime
- datetime преобразуется в DatetimeIndex
- имя фрейма данных - просмотры страниц

In [5]:
query="""
SELECT uid, datetime
FROM pageviews
WHERE uid like 'user%_'
ORDER BY uid asc
"""
pd.io.sql.read_sql(query,conn)

         uid                    datetime
0     user_1  2020-04-26 21:53:59.624136
1     user_1  2020-04-26 22:06:19.478143
2     user_1  2020-04-26 22:12:09.614497
3     user_1  2020-04-30 19:29:01.831635
4     user_1  2020-05-05 20:26:32.894852
..       ...                         ...
982  user_30  2020-04-29 16:51:21.877630
983  user_30  2020-05-09 20:30:47.034282
984   user_5  2020-05-22 11:30:18.368990
985   user_9  2020-05-21 16:28:28.217529
986   user_9  2020-05-21 16:36:40.915488

[987 rows x 2 columns]

<h2>Закройте соединение с базой данных</h2>

In [6]:
conn.close()