In [1]:
import pandas as pd
import gc

<h2>Прочитайте файл fines.csv, который вы сохранили в предыдущем упражнении</h2>

In [2]:
df = pd.read_csv('../data/fines.csv')
df

        CarNumber  Refund    Fines        Mark   Model  Year
0    Y163O8161RUS       2   3200.0        Ford   Focus  1989
1     E432XX77RUS       1   6500.0      Toyota   Camry  1995
2     7184TT36RUS       1   2100.0        Ford   Focus  1984
3    X582HE161RUS       2   2000.0        Ford   Focus  2015
4    92918M178RUS       1   5700.0        Ford   Focus  2014
..            ...     ...      ...         ...     ...   ...
920  8182XX154RUS       2   3500.0        Ford   Focus  1996
921   X796TH96RUS       1   4200.0        Ford   Focus  2002
922  T011MY163RUS       2   3000.0        Ford   Focus  1996
923   T341CC96RUS       1   7800.0  Volkswagen  Passat  2012
924   T119CT96RUS       2  19500.0        Ford   Focus  1984

[925 rows x 6 columns]

<h2>Итерации: во всех следующих подзадачах вам нужно вычислить штрафы/возврат*год для каждой строки и создать новый столбец с вычисленными данными, а также измерить время с помощью магической команды %%timeit в ячейке</h2>

In [3]:
#loop
def loop(df):
    res=[]
    for i in range(0, len(df)):
        res.append(df.iloc[i]['Fines'] / df.iloc[i]['Refund'] * df.iloc[i]['Year'])
    df['Calculated'] = res

In [4]:
%%timeit
loop(df)
df

66.9 ms ± 1.03 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [5]:
#iter
def iter(df):
    res=[]
    for _, row in df.iterrows():
        res.append(row['Fines'] / row['Refund'] * row['Year'])
    df['Calculated'] = res

In [6]:
%%timeit
iter(df)
df

20.9 ms ± 774 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [7]:
#apply and lambda
def apply_and_lambda(df):
    df['Calculated'] = df.apply(lambda x: x['Fines'] / x['Refund'] * x['Year'], axis=1)

In [8]:
%%timeit
apply_and_lambda(df)
df

5.23 ms ± 48.5 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [9]:
#series
def series(df):
    df['Calculated'] = df['Fines'] / df['Refund'] * df['Year']

In [10]:
%%timeit
series(df)
df

126 μs ± 1.59 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [11]:
#series + метод values()
def series_and_values(df):
    df['Calculated'] = df['Fines'].values / df['Refund'].values * df['Year'].values

In [12]:
%%timeit
series_and_values(df)
df

56.6 μs ± 638 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

<h2>Индексирование: измерьте время с помощью волшебной команды %%timeit в ячейке</h2>

получить строку для конкретного номера автомобиля, например, «O136HO197RUS»

In [13]:
%%timeit
df.loc[df['CarNumber'] == 'O136HO197RUS']

167 μs ± 1.19 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

установите индекс в вашем фрейме данных с помощью CarNumber

In [14]:
df.set_index('CarNumber', inplace=True)
df

              Refund    Fines        Mark   Model  Year  Calculated
CarNumber
Y163O8161RUS       2   3200.0        Ford   Focus  1989   3182400.0
E432XX77RUS        1   6500.0      Toyota   Camry  1995  12967500.0
7184TT36RUS        1   2100.0        Ford   Focus  1984   4166400.0
X582HE161RUS       2   2000.0        Ford   Focus  2015   2015000.0
92918M178RUS       1   5700.0        Ford   Focus  2014  11479800.0
...              ...      ...         ...     ...   ...         ...
8182XX154RUS       2   3500.0        Ford   Focus  1996   3493000.0
X796TH96RUS        1   4200.0        Ford   Focus  2002   8408400.0
T011MY163RUS       2   3000.0        Ford   Focus  1996   2994000.0
T341CC96RUS        1   7800.0  Volkswagen  Passat  2012  15693600.0
T119CT96RUS        2  19500.0        Ford   Focus  1984  19344000.0

[925 rows x 6 columns]

опять же, получите строку с тем же номером

In [15]:
%%timeit
df.loc[df.index == 'O136HO197RUS']

120 μs ± 1.16 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

<h2>Понижающий коэффициент</h2>

In [16]:
#запустите df.info(memory_usage=’deep’), обратите внимание на тип данных и использование памяти
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 925 entries, Y163O8161RUS to T119CT96RUS
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Refund      925 non-null    int64
 1   Fines       925 non-null    float64
 2   Mark        925 non-null    object
 3   Model       914 non-null    object
 4   Year        925 non-null    int64
 5   Calculated  925 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 181.0 KB

In [17]:
# Создадим копию исхоного датафрейма
df_copy = df.copy()
df_copy

              Refund    Fines        Mark   Model  Year  Calculated
CarNumber
Y163O8161RUS       2   3200.0        Ford   Focus  1989   3182400.0
E432XX77RUS        1   6500.0      Toyota   Camry  1995  12967500.0
7184TT36RUS        1   2100.0        Ford   Focus  1984   4166400.0
X582HE161RUS       2   2000.0        Ford   Focus  2015   2015000.0
92918M178RUS       1   5700.0        Ford   Focus  2014  11479800.0
...              ...      ...         ...     ...   ...         ...
8182XX154RUS       2   3500.0        Ford   Focus  1996   3493000.0
X796TH96RUS        1   4200.0        Ford   Focus  2002   8408400.0
T011MY163RUS       2   3000.0        Ford   Focus  1996   2994000.0
T341CC96RUS        1   7800.0  Volkswagen  Passat  2012  15693600.0
T119CT96RUS        2  19500.0        Ford   Focus  1984  19344000.0

[925 rows x 6 columns]

In [18]:
#другой оптимизированный фрейм данных
# Понизим разрядность чисел для снижения потребления памяти          исходное = 202.6 KB
df_copy['Refund'] = pd.to_numeric(df_copy['Refund'], downcast='unsigned') # 196.3 KB
df_copy['Year'] = pd.to_numeric(df_copy['Year'], downcast='unsigned')     # 190.9 KB
df_copy['Fines'] = pd.to_numeric(df_copy['Fines'], downcast='float')     # 187.2 KB
df_copy['Calculated'] = pd.to_numeric(df_copy['Calculated'], downcast='float')     # 187.2 KB


# objects переведем в category
df_copy['Mark'] = df_copy['Mark'].astype('category')        # 133.2 KB
df_copy['Model'] = df_copy['Model'].astype('category')      # 79.1 KB
df_copy.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 925 entries, Y163O8161RUS to T119CT96RUS
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Refund      925 non-null    uint8
 1   Fines       925 non-null    float32
 2   Mark        925 non-null    category
 3   Model       914 non-null    category
 4   Year        925 non-null    uint16
 5   Calculated  925 non-null    float64
dtypes: category(2), float32(1), float64(1), uint16(1), uint8(1)
memory usage: 71.7 KB